<div id="show_footer" style="position:relative;">
    <footer style="box-sizing:border-box;">
        <div class="container-custom">
            <div class="footer-nav row">
                <div id="footer_0_NavigateRepeater_plNavi_1" class="col-md-3">
                    <h3 class="collapsed footer-list-1">
                        <center><a href="#"><s>Cloud</s></a></center>
                    </h3>
                </div>
                <div id="footer_0_NavigateRepeater_plNavi_1" class="col-md-3">
                    <h3 class="collapsed footer-list-1">
                        <center><a href="#">GitLab</a></center>
                    </h3>
                </div>
                <div id="footer_0_NavigateRepeater_plNavi_2" class="col-md-3">
                    <h3 class="collapsed footer-list-2">
                        <center><a href="/chat">Chat</a></center>
                    </h3>
                </div>
                <div id="footer_0_NavigateRepeater_plNavi_3" class="col-md-3">
                    <h3 class="collapsed footer-list-3">
                        <center><a href="http://10.111.180.33:81/admin/system_info">System satus</a></center>
                    </h3>
                </div>
            </div>
        </div>

        <div class="copy">
            <div class="container-custom">
                <div class="copy-text">
                    
                    <span>
                        <span id="footer_0_tCopyRight">
                            <span>
                                Version: {{ VERSION }} &nbsp;
                            </span>
                        </span>
                        <div class="line"></div>
                    </span>

                    <ul class="list-unstyled">
                        <li>
                            <a target="_blank" rel="noopener noreferrer" href="https://github.com/pvenv/cust-docker">Powered by Open Source</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </footer>
</div>