{% load static %}

<link href="{% static 'search/resource/3rdparty/bootstrap/4.4.1/css/bootstrap.min.css' %}" rel="stylesheet"  type="text/css" />
<link href="{% static 'search/carriersearch/pages/search/css/search.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'search/carriersearch/pages/search/css/search_en.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'search/carriersearch/pages/search/css/newui.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'base/css/share.css' %}" rel="stylesheet" type="text/css" />
<style>
    img {
        max-width: 100%;
        height: auto !important;
        max-height: 100%;
    }
    p {
        word-break: break-all;
    }
    a {
        color: rgb(0, 0, 0);
    }
</style>