{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block styles %}{% endblock %}    

{% block content_width %}
    style="margin-top: 10;"
{% endblock %}

{% block menu %}

<div class="asTab">
    <div class="searchWrapper" style="width: 100%;">
        <ul class="reslangWrapper" style="width: 930px;">
            <li>
                <input type="radio" class="noBorder">
                <label class="radio_ico"></label>  
                <label class="label1_common" style="float: right;">База знаний</label>
            </li>
            <li>
                <input type="radio" class="noBorder">
                <label class="radio_ico"></label>  
                <label class="label1_common" style="float: right;">Вики</label>
            </li>
            <li>
                <input type="radio" class="noBorder" checked="checked">
                <label class="radio_ico"></label>  
                <label class="label1_common" style="float: right;">Оба</label>
            </li>
        </ul>
        
        <div class="searcInput">
            <div class="getit_log" style="margin-right:20px;">
            <span style="display: inline-block;width: 117px;"></span>
        </div>
                            
                <div class="sear_aSearchForm clear" style = "width:50%;">
                    
                    
                    <div class="aSearchLeft" style = "width:810px;">
                        
                        <div class="clear" >
                            <input id="search-message-input" type="text" style = "width: 760px;"  name="searchString" maxlength="256" value="" class="sear_aSearchInput" autocomplete="off">
                            <button id="search-message-submit" type="button"  class="btn sear_aSearchGo"></button>
                        </div>

                        <div class="navDiv">
                            <div id="selectedText">
                                <span disabled>Пространство</span>
                                <div class="triangle1"></div>
                                <span class="dividingLine"></span>
                            </div>
                        </div>
                    </div>
                    

                </div>		
        </div>
    </div>		
    
    <!-- <div class="asCondition clear">
        <ul id="ssTabUl">
            <li class="tablinks current" onclick="openTab(event, 'Latest')"><a href="#">Последнее</a></li>
            <li class="tablinks" onclick="openTab(event, 'Tips')"><a href="#">Заметки</a></li>
            <li class="tablinks" onclick="openTab(event, 'Articles')"><a href="#">Статьи</a></li>
            <li class="tablinks" onclick="openTab(event, 'Translations')"><a href="#"><s>Переводы</s></a></li>
            <li class="tablinks" onclick="openTab(event, 'Movies')"><a href="#" >Видео</a></li>
        </ul>
    </div> -->
    
</div>




<script>
    searchSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        // document.querySelector('#status').value = 'test';
        $("#results").html("").append(message + '\n')
    };

    document.querySelector('#search-message-input').focus();
    document.querySelector('#search-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#search-message-submit').click();
        }
    };

    document.querySelector('#search-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#search-message-input');
        var message = messageInputDom.value;
        searchSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>

{% endblock %}






{% block content_left %}
<div id="search_left" class="search_main search_left" style="background: white; padding: 10px 20px; border-radius: 4px; margin-top: 10px;">
    <center><h3><b>Выбор категории</b></h3></center>
    
    <!-- {% for category in categoryes %}
        <a type="submit" onclick="searchSocket.send(JSON.stringify({'message': ['filter_category', '{{ category.id }}']}));">{{ category }}</a><br>    
    {% endfor %} -->

    {{left_menu|safe}}

    <hr style="margin: revert;">
    <center><a type="submit" onclick="searchSocket.send(JSON.stringify({'message': ['filter_category', 'clear']}));">Сбросить</a><br></center>

</div>



{% endblock %}






{% block content %}
    <div id='results'></div>

    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Предыдущая</a>
          </li>
          <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Следующая</a>
          </li>
        </ul>
    </nav> -->
    

{% endblock %}