{% extends "base.html" %}

{% block title %}<title>Cust - Wiki</title>{% endblock %}

{% block content_width %}style="margin-top: 10;"{% endblock %}

{% block content_left %}
<div id="search_left" class="search_main search_left" style="background: white; padding: 10px 20px; border-radius: 4px; margin-top: 10px;">
    <center><h3><b>Categories</b></h3></center>

    {{left_menu|safe}}

    <hr style="margin: revert;">
    <center><a type="submit" onclick="searchSocket.send(JSON.stringify({'message': ['filter_category', 'clear']}));">Clear</a><br></center>

</div>



{% endblock %}






{% block content %}
    <div id='results'></div>

    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Предыдущая</a>
          </li>
          <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Следующая</a>
          </li>
        </ul>
    </nav> -->
    

{% endblock %}